#canvas1 {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  background: #d79c50;
  position: absolute;
}

body {
  background: url("../assets/edgy.png");
  background-size: cover;
  min-height: 100vh;
}

.title {
  position: relative;
  top: 10%;
  left: 44%;
}
