#canvas1 {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  background: #d79c50;
  position: absolute;
}

body {
  background: url("../assets/background/cloud.jpeg");
  background-size: cover;
  min-height: 100vh;
}

.title {
  display: flex;
  position: relative;
  left: 40%;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15rem;
}